<!DOCTYPE html>
<html>

<head>
    <link rel="icon" href="favicon.ico" />
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="home.component.css">
</head>

<body>
    <div class="main">
        <img src="../../../assets/images/rh.jpg">
        <div class="overlay"></div>
        <div class="heading">
            <h1 class="head">Gestion de ressources humaines</h1>
            <p class="sub">Un système de gestion des ressources humaines (SGRH) est une application logicielle utilisée pour stocker les informations sur les employés
                <br> et soutenir diverses fonctions de ressources humaines.Il garantit que les processus quotidiens des ressources humaines <br> sont gérables et faciles d'accès.</p>

            <div class="btns">
                <a class="btn1" routerLink="/login">Connecter</a>
                <a class="btn2" routerLink="/create">Créer compte</a>
            </div>
        </div>
    </div>
</body>

</html>